.editBody{
position: fixed;
width:100%;
height:100vh;
background-color: rgba(199, 205, 211, 0.656);
z-index: 100;
display: flex;
justify-content: center;
align-items: center;
top: 0;
left: 0;

}
form{
    color:aliceblue;
    background-color: #202124;
    width:50%;
   padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
form input{
    padding: 8px;
    border:none;
    outline: none;
}

.closeBtn{
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}
.closeBtn:hover{
    transform: scale(1.4);
    transition: 0.4s ease-in-out;
    color:rgba(218, 8, 8, 0.845);
}
button{
    padding: 5px 10px;
    border: none;
    background-color: rgba(67, 67, 203, 0.769);
    color: aliceblue;
    cursor: pointer;
}
button:hover{
    background-color: rgba(17, 166, 17, 0.784);
    transition: 0.4s ease-in;
    color:rgb(219, 231, 231)
}