.mainContainer{
   
    width:70%;
    background-color: #3f3c3cdc ;
    margin:40px auto;
    
   position:relative;
   border-radius: 20px;
  
   padding: 0 40px;
}
.container{
   width:100%;
 
   padding: 30px;
   color: rgba(230, 232, 235, 0.875)
   
}

.backBtn{
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 600;
    font-size: 12px;
    padding: 8px 14px;
    border-radius: 20px;
    background-color: rgba(72, 72, 207, 0.769);
    color: aliceblue;
    border: none;
    cursor: pointer;
    
}
.backBtn:hover{
    transition: 0.6s ease-in-out;
    color: #111;
    background-color: #eae6e6d1
}
.title{
   text-align: center;
   
    padding: 25px 0 40px 0;
}
.id{
    padding: 15px;
    text-align: end;
    font-size: 16px;
    font-weight: 600;
}
.hrLines{
   border: 2.5px solid rgba(182, 169, 169, 0.832);
}
.descriptionWrapper{
   padding: 40px 0 20px 0; 
}
.description{
 
    /* padding: 40px 0 60px 0; */
    word-break: break-all;
    font-size: 16px;
   line-height: 1.5rem;
   word-spacing: 2px;
   color: rgba(230, 232, 235, 0.875);
   padding: 0 0 30px 0;
   
}
.wrapperOfP{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.editDescription{
    text-align: end;
    font-size: 22px;
    cursor: pointer;
    
}.editDescription:hover{
    transition: 0.7s ease-in-out;
    color: rgba(85, 85, 239, 0.805);
    transform: scale(1.4);
}
.formToEdit{
    width: 100%;
    border: 0.6px solid rgba(191, 186, 186, 0.45);
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 15px;
   padding: 20px;
}
.textareaEdit{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgba(230, 232, 235, 0.875);
    height: 15vh;
  
    
    
}
.textareaEdit textarea{
    scrollbar-width: 0;
    height: auto;
   padding: 20px;
   
   
    
}
.updateBtn{
    padding: 4px 8px;
    background-color: rgba(72, 72, 207, 0.769);
    color: aliceblue;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 5px;
   
}
.updateBtn:hover{
    transition: 0.6s ease-in-out;
    color: #111;
    background-color: #eae6e6d1
}
.Completed{
    color:rgba(51, 206, 69, 0.87);
}
.progress{
    color:rgba(225, 29, 29, 0.866)
}