.fullContainer{
    
}
.formcontainer{
    color:#ffffffcb ;
    display: flex;
    justify-content: center;
    background-color:#202124;
    align-items: center;
    position: relative;


}
.form{
    font-size: 16px;
   position: absolute;
   top:50px;

  
   gap: 15px;
 width: 70%;
 
   padding: 60px 30px;
   background-color: #3f3c3cdc;
   border-radius: 10px;
   
}
.formbody{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}
.formbody input{
    border-radius: 4px;
    padding: 11px;
    font-size: 16px;
    outline: none;
    color:#2e2f33ed;
    word-spacing: 0.2px;
    width: 100%;
   
}
.formbody textarea{
    padding:2px 8px;
    border-radius: 4px;
    
    outline: none;
    color:#2e2f33ed;
    word-spacing: 0.2px;
    width: 100%;
    font-size: 16px;
}
.formbody textarea::placeholder{
    padding:8px;
   
}

.addBtn{
   
    padding: 8px 14px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #2448b2;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
}
.addBtn:hover{
    background-color: rgb(213, 223, 213);
    color: rgb(52, 51, 48);
    transition: 0.4s ease-in-out;
}

