.fullContainer{
    
}
.formcontainer{
    color:#ffffffcb ;
    display: flex;
    justify-content: center;
    background-color:#202124;
    align-items: center;
    position: relative;


}
.form{
    font-size: 16px;
   position: absolute;
   top:50px;

  
   gap: 15px;
 width: 70%;
 
   padding: 20px;
   background-color: #3f3c3cdc;
}
.formbody{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}
.formbody input{
    padding: 10px;
    outline: none;
    color:#2e2f33ed;
    word-spacing: 0.2px;
    width: 300px;
   
}

.addBtn{
   
    padding: 8px 14px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #1a40b2;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
}
.addBtn:hover{
    background-color: rgb(38, 165, 38);
    color: rgb(246, 241, 233);
    transition: 0.4s ease-in-out;
}

